### Pandas practice notebook
This notebook is ment for genral pendas practice book and Api practices

In [63]:
import pandas as pd
import numpy as np

In [64]:
np.random.seed(42)

**Generating synthetic dataset**

In [65]:
def number_to_alphabet(number:int):
    alphabets = 'abcdefghijklmnopqrstuvwxyz'
    assert len(alphabets) == 26
    indx = number % 26
    assert indx < 26
    return alphabets[indx]

In [66]:
print(np.random.randint(1, 100))

52

In [67]:
number_rows = 1000000
row1 = [np.random.randint(1, 10000) for _ in range(number_rows)]
# print(row1)
row2 = [np.random.randint(1, number_rows) for _ in range(number_rows)]
# print(row2)
row3 = [number_to_alphabet(np.random.randint(1, number_rows)) for _ in range(number_rows)]
# print(row3)
dict_rows = {
    'row1': row1,
    'row2': row2,
    'row3': row3
}
df = pd.DataFrame(dict_rows)

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 3 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   row1    1000000 non-null  int64
 1   row2    1000000 non-null  int64
 2   row3    1000000 non-null  object
dtypes: int64(2), object(1)
memory usage: 22.9+ MB

In [69]:
df = df.rename(columns={
    'row1': 'small_row',
    'row2': 'big_row',
    'row3': 'alpha'
})

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 3 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   small_row  1000000 non-null  int64
 1   big_row    1000000 non-null  int64
 2   alpha      1000000 non-null  object
dtypes: int64(2), object(1)
memory usage: 22.9+ MB

In [71]:
df['alpha'] = df['alpha'].astype(str)

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 3 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   small_row  1000000 non-null  int64
 1   big_row    1000000 non-null  int64
 2   alpha      1000000 non-null  object
dtypes: int64(2), object(1)
memory usage: 22.9+ MB

In [73]:
df = df.sort_values(['big_row', 'alpha', 'small_row'], ascending= True)

In [74]:
df.head()

        small_row  big_row alpha
348500       9234        1     i
309577        909        3     j
623587       8527        4     u
819404       1138        5     d
839294       5385        5     e

In [75]:
df

        small_row  big_row alpha
348500       9234        1     i
309577        909        3     j
623587       8527        4     u
819404       1138        5     d
839294       5385        5     e
...           ...      ...   ...
983201       4628   999993     y
389935       9114   999994     c
393315       1470   999995     a
479275       6976   999995     g
368281       4087   999995     n

[1000000 rows x 3 columns]

In [76]:
df.sort_index()

        small_row  big_row alpha
0             861   805942     x
1            5391   169335     z
2            5192   340900     f
3            5735   457475     j
4            6266   599597     z
...           ...      ...   ...
999995       4943   481185     x
999996         12   655713     n
999997       4946   553785     e
999998       7514   689981     l
999999       2492    96032     p

[1000000 rows x 3 columns]

In [77]:
df

        small_row  big_row alpha
348500       9234        1     i
309577        909        3     j
623587       8527        4     u
819404       1138        5     d
839294       5385        5     e
...           ...      ...   ...
983201       4628   999993     y
389935       9114   999994     c
393315       1470   999995     a
479275       6976   999995     g
368281       4087   999995     n

[1000000 rows x 3 columns]

In [78]:
df = df.assign(new_col_lambda= lambda df: df['small_row'] * df['big_row'])
df.sort_values('new_col_lambda')

        small_row  big_row alpha  new_col_lambda
112590          4      265     p            1060
309577        909        3     j            2727
795719          9      377     r            3393
294633          3     1870     i            5610
819404       1138        5     d            5690
...           ...      ...   ...             ...
785555       9989   998536     l      9974376104
47436        9989   998738     e      9976393882
753110       9983   999992     j      9982920136
697274       9991   999384     j      9984845544
597738       9991   999914     k      9990140774

[1000000 rows x 4 columns]

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000000 entries, 348500 to 368281
Data columns (total 4 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   small_row       1000000 non-null  int64
 1   big_row         1000000 non-null  int64
 2   alpha           1000000 non-null  object
 3   new_col_lambda  1000000 non-null  int64
dtypes: int64(3), object(1)
memory usage: 38.1+ MB

In [80]:
df['without_lambda'] = df['big_row'] * df['big_row']
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000000 entries, 348500 to 368281
Data columns (total 5 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   small_row       1000000 non-null  int64
 1   big_row         1000000 non-null  int64
 2   alpha           1000000 non-null  object
 3   new_col_lambda  1000000 non-null  int64
 4   without_lambda  1000000 non-null  int64
dtypes: int64(4), object(1)
memory usage: 45.8+ MB

In [81]:
df.sort_values('without_lambda', ascending= False)

        small_row  big_row alpha  new_col_lambda  without_lambda
368281       4087   999995     n      4086979565    999990000025
479275       6976   999995     g      6975965120    999990000025
393315       1470   999995     a      1469992650    999990000025
389935       9114   999994     c      9113945316    999988000036
983201       4628   999993     y      4627967604    999986000049
...           ...      ...   ...             ...             ...
819404       1138        5     d            5690              25
960547       6917        5     j           34585              25
623587       8527        4     u           34108              16
309577        909        3     j            2727               9
348500       9234        1     i            9234               1

[1000000 rows x 5 columns]

In [82]:
# df['without_lambda', 'big_row'] = df['without_lambda', 'big_row'].astype(str)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000000 entries, 348500 to 368281
Data columns (total 5 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   small_row       1000000 non-null  int64
 1   big_row         1000000 non-null  int64
 2   alpha           1000000 non-null  object
 3   new_col_lambda  1000000 non-null  int64
 4   without_lambda  1000000 non-null  int64
dtypes: int64(4), object(1)
memory usage: 45.8+ MB

In [83]:
# Importing pandas package
# Importing numpy package
# import numpy as np

# # Creating a dictionary
# d = {
#     'a':  ['left', 'right', 'left', 'right', 'left', 'right'],
#     'b': ['right', 'left', 'right', 'left', 'right', 'left'],
#     'c': [-1, 1, -1, 1, -1, 1]
# }

# # Creating a DataFrame
# df = pd.DataFrame(d)

# # Display DataFrame
# print("Original DataFrame:\n",df,"\n")

# # Defining the specific values to compare
# idx = (df['c'] == 1)

# # Swapping values
# df.loc[idx,['a','b']] = df.loc[idx,['b','a']].values

# # Display result
print("Result:\n",df)

Result:
         small_row  big_row alpha  new_col_lambda  without_lambda
348500       9234        1     i            9234               1
309577        909        3     j            2727               9
623587       8527        4     u           34108              16
819404       1138        5     d            5690              25
839294       5385        5     e           26925              25
...           ...      ...   ...             ...             ...
983201       4628   999993     y      4627967604    999986000049
389935       9114   999994     c      9113945316    999988000036
393315       1470   999995     a      1469992650    999990000025
479275       6976   999995     g      6975965120    999990000025
368281       4087   999995     n      4086979565    999990000025

[1000000 rows x 5 columns]

In [85]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000000 entries, 348500 to 368281
Data columns (total 5 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   small_row       1000000 non-null  int64
 1   big_row         1000000 non-null  int64
 2   alpha           1000000 non-null  object
 3   new_col_lambda  1000000 non-null  int64
 4   without_lambda  1000000 non-null  int64
dtypes: int64(4), object(1)
memory usage: 45.8+ MB

In [88]:
df['alpha'] = df['alpha'].transform(func = (lambda a: a+'b'))
df.head()

        small_row  big_row alpha  new_col_lambda  without_lambda
348500       9234        1    ib            9234               1
309577        909        3    jb            2727               9
623587       8527        4    ub           34108              16
819404       1138        5    db            5690              25
839294       5385        5    eb           26925              25

In [89]:
from sklearn.feature_extraction.text import CountVectorizer

texts = ["This is a sample text.", "Another sample text with different words."]
vectorizer = CountVectorizer()
features = vectorizer.fit_transform(texts)
print(features.toarray())

[[0 0 1 1 1 1 0 0]
 [1 1 0 1 1 0 1 1]]

In [91]:
help(CountVectorizer)

Help on class CountVectorizer in module sklearn.feature_extraction.text:

class CountVectorizer(_VectorizerMixin, sklearn.base.BaseEstimator)
 |  CountVectorizer(*, input='content', encoding='utf-8', decode_error='strict', strip_accents=None, lowercase=True, preprocessor=None, tokenizer=None, stop_words=None, token_pattern='(?u)\\b\\w\\w+\\b', ngram_range=(1, 1), analyzer='word', max_df=1.0, min_df=1, max_features=None, vocabulary=None, binary=False, dtype=<class 'numpy.int64'>)
 |
 |  Convert a collection of text documents to a matrix of token counts.
 |
 |  This implementation produces a sparse representation of the counts using
 |  scipy.sparse.csr_matrix.
 |
 |  If you do not provide an a-priori dictionary and you do not use an analyzer
 |  that does some kind of feature selection then the number of features will
 |  be equal to the vocabulary size found by analyzing the data.
 |
 |  Read more in the :ref:`User Guide <text_feature_extraction>`.
 |
 |  Parameters
 |  ----------
 |  input : {'filename', 'file', 'content'}, default='content'
 |      - If `'filename'`, the sequence passed as an argument to fit is
 |        expected to be a list of filenames that need reading to fetch
 |        the raw content to analyze.
 |
 |      - If `'file'`, the sequence items must have a 'read' method (file-like
 |        object) that is called to fetch the bytes in memory.
 |
 |      - If `'content'`, the input is expected to be a sequence of items that
 |        can be of type string or byte.
 |
 |  encoding : str, default='utf-8'
 |      If bytes or files are given to analyze, this encoding is used to
 |      decode.
 |
 |  decode_error : {'strict', 'ignore', 'replace'}, default='strict'
 |      Instruction on what to do if a byte sequence is given to analyze that
 |      contains characters not of the given `encoding`. By default, it is
 |      'strict', meaning that a UnicodeDecodeError will be raised. Other
 |      values are 'ignore' and 'replace'.
 |
 |  strip_accents : {'ascii', 'unicode'} or callable, default=None
 |      Remove accents and perform other character normalization
 |      during the preprocessing step.
 |      'ascii' is a fast method that only works on characters that have
 |      a direct ASCII mapping.
 |      'unicode' is a slightly slower method that works on any characters.
 |      None (default) does nothing.
 |
 |      Both 'ascii' and 'unicode' use NFKD normalization from
 |      :func:`unicodedata.normalize`.
 |
 |  lowercase : bool, default=True
 |      Convert all characters to lowercase before tokenizing.
 |
 |  preprocessor : callable, default=None
 |      Override the preprocessing (strip_accents and lowercase) stage while
 |      preserving the tokenizing and n-grams generation steps.
 |      Only applies if ``analyzer`` is not callable.
 |
 |  tokenizer : callable, default=None
 |      Override the string tokenization step while preserving the
 |      preprocessing and n-grams generation steps.
 |      Only applies if ``analyzer == 'word'``.
 |
 |  stop_words : {'english'}, list, default=None
 |      If 'english', a built-in stop word list for English is used.
 |      There are several known issues with 'english' and you should
 |      consider an alternative (see :ref:`stop_words`).
 |
 |      If a list, that list is assumed to contain stop words, all of which
 |      will be removed from the resulting tokens.
 |      Only applies if ``analyzer == 'word'``.
 |
 |      If None, no stop words will be used. In this case, setting `max_df`
 |      to a higher value, such as in the range (0.7, 1.0), can automatically detect
 |      and filter stop words based on intra corpus document frequency of terms.
 |
 |  token_pattern : str or None, default=r"(?u)\\b\\w\\w+\\b"
 |      Regular expression denoting what constitutes a "token", only used
 |      if ``analyzer == 'word'``. The default regexp select tokens of 2
 |      or more alphanumeric characters (punctuation is completely ignored
 |      and always treated as a token separator).
 |
 |      If there is a capturing group in token_pattern then the
 |      captured group content, not the entire match, becomes the token.
 |      At most one capturing group is permitted.
 |
 |  ngram_range : tuple (min_n, max_n), default=(1, 1)
 |      The lower and upper boundary of the range of n-values for different
 |      word n-grams or char n-grams to be extracted. All values of n such
 |      such that min_n <= n <= max_n will be used. For example an
 |      ``ngram_range`` of ``(1, 1)`` means only unigrams, ``(1, 2)`` means
 |      unigrams and bigrams, and ``(2, 2)`` means only bigrams.
 |      Only applies if ``analyzer`` is not callable.
 |
 |  analyzer : {'word', 'char', 'char_wb'} or callable, default='word'
 |      Whether the feature should be made of word n-gram or character
 |      n-grams.
 |      Option 'char_wb' creates character n-grams only from text inside
 |      word boundaries; n-grams at the edges of words are padded with space.
 |
 |      If a callable is passed it is used to extract the sequence of features
 |      out of the raw, unprocessed input.
 |
 |      .. versionchanged:: 0.21
 |
 |      Since v0.21, if ``input`` is ``filename`` or ``file``, the data is
 |      first read from the file and then passed to the given callable
 |      analyzer.
 |
 |  max_df : float in range [0.0, 1.0] or int, default=1.0
 |      When building the vocabulary ignore terms that have a document
 |      frequency strictly higher than the given threshold (corpus-specific
 |      stop words).
 |      If float, the parameter represents a proportion of documents, integer
 |      absolute counts.
 |      This parameter is ignored if vocabulary is not None.
 |
 |  min_df : float in range [0.0, 1.0] or int, default=1
 |      When building the vocabulary ignore terms that have a document
 |      frequency strictly lower than the given threshold. This value is also
 |      called cut-off in the literature.
 |      If float, the parameter represents a proportion of documents, integer
 |      absolute counts.
 |      This parameter is ignored if vocabulary is not None.
 |
 |  max_features : int, default=None
 |      If not None, build a vocabulary that only consider the top
 |      `max_features` ordered by term frequency across the corpus.
 |      Otherwise, all features are used.
 |
 |      This parameter is ignored if vocabulary is not None.
 |
 |  vocabulary : Mapping or iterable, default=None
 |      Either a Mapping (e.g., a dict) where keys are terms and values are
 |      indices in the feature matrix, or an iterable over terms. If not
 |      given, a vocabulary is determined from the input documents. Indices
 |      in the mapping should not be repeated and should not have any gap
 |      between 0 and the largest index.
 |
 |  binary : bool, default=False
 |      If True, all non zero counts are set to 1. This is useful for discrete
 |      probabilistic models that model binary events rather than integer
 |      counts.
 |
 |  dtype : dtype, default=np.int64
 |      Type of the matrix returned by fit_transform() or transform().
 |
 |  Attributes
 |  ----------
 |  vocabulary_ : dict
 |      A mapping of terms to feature indices.
 |
 |  fixed_vocabulary_ : bool
 |      True if a fixed vocabulary of term to indices mapping
 |      is provided by the user.
 |
 |  stop_words_ : set
 |      Terms that were ignored because they either:
 |
 |        - occurred in too many documents (`max_df`)
 |        - occurred in too few documents (`min_df`)
 |        - were cut off by feature selection (`max_features`).
 |
 |      This is only available if no vocabulary was given.
 |
 |  See Also
 |  --------
 |  HashingVectorizer : Convert a collection of text documents to a
 |      matrix of token counts.
 |
 |  TfidfVectorizer : Convert a collection of raw documents to a matrix
 |      of TF-IDF features.
 |
 |  Notes
 |  -----
 |  The ``stop_words_`` attribute can get large and increase the model size
 |  when pickling. This attribute is provided only for introspection and can
 |  be safely removed using delattr or set to None before pickling.
 |
 |  Examples
 |  --------
 |  >>> from sklearn.feature_extraction.text import CountVectorizer
 |  >>> corpus = [
 |  ...     'This is the first document.',
 |  ...     'This document is the second document.',
 |  ...     'And this is the third one.',
 |  ...     'Is this the first document?',
 |  ... ]
 |  >>> vectorizer = CountVectorizer()
 |  >>> X = vectorizer.fit_transform(corpus)
 |  >>> vectorizer.get_feature_names_out()
 |  array(['and', 'document', 'first', 'is', 'one', 'second', 'the', 'third',
 |         'this'], ...)
 |  >>> print(X.toarray())
 |  [[0 1 1 1 0 0 1 0 1]
 |   [0 2 0 1 0 1 1 0 1]
 |   [1 0 0 1 1 0 1 1 1]
 |   [0 1 1 1 0 0 1 0 1]]
 |  >>> vectorizer2 = CountVectorizer(analyzer='word', ngram_range=(2, 2))
 |  >>> X2 = vectorizer2.fit_transform(corpus)
 |  >>> vectorizer2.get_feature_names_out()
 |  array(['and this', 'document is', 'first document', 'is the', 'is this',
 |         'second document', 'the first', 'the second', 'the third', 'third one',
 |         'this document', 'this is', 'this the'], ...)
 |   >>> print(X2.toarray())
 |   [[0 0 1 1 0 0 1 0 0 0 0 1 0]
 |   [0 1 0 1 0 1 0 1 0 0 1 0 0]
 |   [1 0 0 1 0 0 0 0 1 1 0 1 0]
 |   [0 0 1 0 1 0 1 0 0 0 0 0 1]]
 |
 |  Method resolution order:
 |      CountVectorizer
 |      _VectorizerMixin
 |      sklearn.base.BaseEstimator
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__(self, *, input='content', encoding='utf-8', decode_error='strict', strip_accents=None, lowercase=True, preprocessor=None, tokenizer=None, stop_words=None, token_pattern='(?u)\\b\\w\\w+\\b', ngram_range=(1, 1), analyzer='word', max_df=1.0, min_df=1, max_features=None, vocabulary=None, binary=False, dtype=<class 'numpy.int64'>)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  fit(self, raw_documents, y=None)
 |      Learn a vocabulary dictionary of all tokens in the raw documents.
 |
 |      Parameters
 |      ----------
 |      raw_documents : iterable
 |          An iterable which generates either str, unicode or file objects.
 |
 |      y : None
 |          This parameter is ignored.
 |
 |      Returns
 |      -------
 |      self : object
 |          Fitted vectorizer.
 |
 |  fit_transform(self, raw_documents, y=None)
 |      Learn the vocabulary dictionary and return document-term matrix.
 |
 |      This is equivalent to fit followed by transform, but more efficiently
 |      implemented.
 |
 |      Parameters
 |      ----------
 |      raw_documents : iterable
 |          An iterable which generates either str, unicode or file objects.
 |
 |      y : None
 |          This parameter is ignored.
 |
 |      Returns
 |      -------
 |      X : array of shape (n_samples, n_features)
 |          Document-term matrix.
 |
 |  get_feature_names_out(self, input_features=None)
 |      Get output feature names for transformation.
 |
 |      Parameters
 |      ----------
 |      input_features : array-like of str or None, default=None
 |          Not used, present here for API consistency by convention.
 |
 |      Returns
 |      -------
 |      feature_names_out : ndarray of str objects
 |          Transformed feature names.
 |
 |  inverse_transform(self, X)
 |      Return terms per document with nonzero entries in X.
 |
 |      Parameters
 |      ----------
 |      X : {array-like, sparse matrix} of shape (n_samples, n_features)
 |          Document-term matrix.
 |
 |      Returns
 |      -------
 |      X_inv : list of arrays of shape (n_samples,)
 |          List of arrays of terms.
 |
 |  transform(self, raw_documents)
 |      Transform documents to document-term matrix.
 |
 |      Extract token counts out of raw text documents using the vocabulary
 |      fitted with fit or the one provided to the constructor.
 |
 |      Parameters
 |      ----------
 |      raw_documents : iterable
 |          An iterable which generates either str, unicode or file objects.
 |
 |      Returns
 |      -------
 |      X : sparse matrix of shape (n_samples, n_features)
 |          Document-term matrix.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __annotations__ = {'_parameter_constraints': <class 'dict'>}
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from _VectorizerMixin:
 |
 |  build_analyzer(self)
 |      Return a callable to process input data.
 |
 |      The callable handles preprocessing, tokenization, and n-grams generation.
 |
 |      Returns
 |      -------
 |      analyzer: callable
 |          A function to handle preprocessing, tokenization
 |          and n-grams generation.
 |
 |  build_preprocessor(self)
 |      Return a function to preprocess the text before tokenization.
 |
 |      Returns
 |      -------
 |      preprocessor: callable
 |            A function to preprocess the text before tokenization.
 |
 |  build_tokenizer(self)
 |      Return a function that splits a string into a sequence of tokens.
 |
 |      Returns
 |      -------
 |      tokenizer: callable
 |            A function to split a string into a sequence of tokens.
 |
 |  decode(self, doc)
 |      Decode the input into a string of unicode symbols.
 |
 |      The decoding strategy depends on the vectorizer parameters.
 |
 |      Parameters
 |      ----------
 |      doc : bytes or str
 |          The string to decode.
 |
 |      Returns
 |      -------
 |      doc: str
 |          A string of unicode symbols.
 |
 |  get_stop_words(self)
 |      Build or fetch the effective stop words list.
 |
 |      Returns
 |      -------
 |      stop_words: list or None
 |              A list of stop words.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from _VectorizerMixin:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.base.BaseEstimator:
 |
 |  __getstate__(self)
 |
 |  __repr__(self, N_CHAR_MAX=700)
 |      Return repr(self).
 |
 |  __setstate__(self, state)
 |
 |  get_params(self, deep=True)
 |      Get parameters for this estimator.
 |
 |      Parameters
 |      ----------
 |      deep : bool, default=True
 |          If True, will return the parameters for this estimator and
 |          contained subobjects that are estimators.
 |
 |      Returns
 |      -------
 |      params : dict
 |          Parameter names mapped to their values.
 |
 |  set_params(self, **params)
 |      Set the parameters of this estimator.
 |
 |      The method works on simple estimators as well as on nested objects
 |      (such as :class:`~sklearn.pipeline.Pipeline`). The latter have
 |      parameters of the form ``<component>__<parameter>`` so that it's
 |      possible to update each component of a nested object.
 |
 |      Parameters
 |      ----------
 |      **params : dict
 |          Estimator parameters.
 |
 |      Returns
 |      -------
 |      self : estimator instance
 |          Estimator instance.

In [ ]:
# discord comment is not working
# here we can see it is here vi